h1 {
    background-color: #103f79;
    color: black;
    text-align: center;
}
h3 {
    background-color: #f3b229;
    color: black;
    text-align: center;
}
h4 {
    background-color: #103f79;
    text-align: center;
}
.img {
    height: 100%;
    width: 100%;
    justify-content: center;
}
body {
    background-color: #BECEC7;
    margin: 0;
}
p {
    background-color: #969788;
}
.p1 {
    text-align: justify;
    font-size: large;
    text-indent: 20px;
}
.boke {
    height: 2%;
    width: 2%;
}
.boke2 {
    height: 2%;
    width: 2%;
}
header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #103f79;
    align-items: center;
    padding: 10px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.cancion {
    color: blue;
}
nav a{
    font-weight: 600;
}
nav a:hover{
    color: #f3b229;
}